// Background
$lightBackground: #f8f8f8;
$darkBackground: #1a1a33;

// Links
$lightLink: #240c6d;
$darkLink: #ffffff;

// Icon Button hover/focus
$lightFocus: rgba(36, 12, 109, 0.2);
$darkFocus: rgba(255, 255, 255, 0.2);

// About text
$lightAboutText: #04143a;
$darkAboutText: #ffffff;
$lightAboutTitle: #6d6d6d;
$darkAboutTitle: #b4b4b4;

// Games

// Roll Dice
$lightRollDice: linear-gradient(134deg, #44dec5 0%, #4ebcfa 100%);
$darkRollDice: linear-gradient(135deg, #031d22 0%, #00598b 100%);
$lightRollDiceShadow: 0 25px 40px -15px #4acae4;
$darkRollDiceShadow: 0 25px 40px -15px #014263;
$lightRollDiceCloseBackground: #ffffff;
$darkRollDiceCloseBackground: #014263;
$lightRollDiceCloseColor: #4acae4;
$darkRollDiceCloseColor: #ffffff;

// Coin Flip
$lightCoinFlip: linear-gradient(135deg, #f9b4bd 0%, #9573db 100%);
$darkCoinFlip: linear-gradient(135deg, #413921 0%, #452e04 100%);
$lightCoinFlipShadow: 0 25px 40px -15px #bb8ccf;
$darkCoinFlipShadow: 0 25px 40px -15px #443310;
$lightCoinFlipCloseBackground: #ffffff;
$darkCoinFlipCloseBackground: #443310;
$lightCoinFlipCloseColor: #bb8ccf;
$darkCoinFlipCloseColor: #ffffff;

// Draw Card
$lightDrawCard: linear-gradient(-49deg, #736dff 0%, #a97fff 100%);
$darkDrawCard: linear-gradient(135deg, #23122c 0%, #865e96 100%);
$lightDrawCardShadow: 0 25px 40px -15px #8573ff;
$darkDrawCardShadow: 0 25px 40px -15px #5e3f6b;
$lightDrawCardCloseBackground: #ffffff;
$darkDrawCardCloseBackground: #5e3f6b;
$lightDrawCardCloseColor: #8573ff;
$darkDrawCardCloseColor: #ffffff;

// Brackets
$lightBrackets: linear-gradient(134deg, #66e496 0%, #00c29c 100%);
$darkBrackets: linear-gradient(135deg, #0f4038 0%, #1e715f 100%);
$lightBracketsShadow: 0 25px 40px -15px #28cf99;
$darkBracketsShadow: 0 25px 40px -15px #186051;
$lightBracketsCloseBackground: #ffffff;
$darkBracketsCloseBackground: #186051;
$lightBracketsCloseColor: #28cf99;
$darkBracketsCloseColor: #ffffff;

// Team Maker
$lightTeamMaker: linear-gradient(134deg, #5f6dff 0%, #4ebcfa 100%);
$darkTeamMaker: linear-gradient(135deg, #131527 0%, #444fd2 100%);
$lightTeamMakerShadow: 0 25px 40px -15px #54a1fc;
$darkTeamMakerShadow: 0 25px 40px -15px #3740a7;
$lightTeamMakerCloseBackground: #ffffff;
$darkTeamMakerCloseBackground: #3740a7;
$lightTeamMakerCloseColor: #54a1fc;
$darkTeamMakerCloseColor: #ffffff;

// Roulette
$lightRoulette: linear-gradient(135deg, #ff8bf1 0%, #ff7171 100%);
$darkRoulette: linear-gradient(135deg, #430e2d 0%, #ba4482 100%);
$lightRouletteShadow: 0 25px 40px -15px #ff7ba2;
$darkRouletteShadow: 0 25px 40px -15px #8f3063;
$lightRouletteCloseBackground: #ffffff;
$darkRouletteCloseBackground: #8f3063;
$lightRouletteCloseColor: #ff7ba2;
$darkRouletteCloseColor: #ffffff;

// Russian Roulette
$lightRussianRoulette: linear-gradient(135deg, #f5d368 0%, #ff7c2d 100%);
$darkRussianRoulette: linear-gradient(135deg, #433831 0%, #ad6700 100%);
$lightRussianRouletteShadow: 0 25px 40px -15px #faa347;
$darkRussianRouletteShadow: 0 25px 40px -15px #8a5710;
$lightRussianRouletteCloseBackground: #ffffff;
$darkRussianRouletteCloseBackground: #8a5710;
$lightRussianRouletteCloseColor: #faa347;
$darkRussianRouletteCloseColor: #ffffff;
