// Roll Dice
$lightRollDiceBottom: 17px;
$lightRollDiceRight: 24px;
$darkRollDiceBottom: 0px;
$darkRollDiceRight: 0px;

// Coin Flip
$lightCoinFlipBottom: 39px;
$lightCoinFlipRight: 37px;
$darkCoinFlipBottom: 14px;
$darkCoinFlipRight: 12px;

// Draw Card
$lightDrawCardBottom: 17px;
$lightDrawCardRight: 19px;
$darkDrawCardBottom: 0px;
$darkDrawCardRight: 0px;

// Brackets
$lightBracketsBottom: 43px;
$lightBracketsRight: 51px;
$darkBracketsBottom: 20px;
$darkBracketsRight: 26px;

// TeamMaker
$lightTeamMakerBottom: 36px;
$lightTeamMakerRight: 43px;
$darkTeamMakerBottom: 10px;
$darkTeamMakerRight: 22px;

// Roulette
$lightRouletteBottom: 35px;
$lightRouletteRight: 39px;
$darkRouletteBottom: 7px;
$darkRouletteRight: 13px;

// Russian Roulette
$lightRussianRouletteBottom: 35px;
$lightRussianRouletteRight: 39px;
$darkRussianRouletteBottom: 7px;
$darkRussianRouletteRight: 13px;
