$themes: (
    light: (
        backgroundColor: $lightBackground,
        linkColor: $lightLink,
        linkFocus: $lightFocus,
        rollDice: $lightRollDice,
        rollDiceShadow: $lightRollDiceShadow,
        coinFlip: $lightCoinFlip,
        coinFlipShadow: $lightCoinFlipShadow,
        drawCard: $lightDrawCard,
        drawCardShadow: $lightDrawCardShadow,
        brackets: $lightBrackets,
        bracketsShadow: $lightBracketsShadow,
        teamMaker: $lightTeamMaker,
        teamMakerShadow: $lightTeamMakerShadow,
        roulette: $lightRoulette,
        rouletteShadow: $lightRouletteShadow,
        russianRoulette: $lightRussianRoulette,
        russianRouletteShadow: $lightRussianRouletteShadow,
    ),
    dark: (
        backgroundColor: $darkBackground,
        linkColor: $darkLink,
        linkFocus: $darkFocus,
        rollDice: $darkRollDice,
        rollDiceShadow: $darkRollDiceShadow,
        coinFlip: $darkCoinFlip,
        coinFlipShadow: $darkCoinFlipShadow,
        drawCard: $darkDrawCard,
        drawCardShadow: $darkDrawCardShadow,
        brackets: $darkBrackets,
        bracketsShadow: $darkBracketsShadow,
        teamMaker: $darkTeamMaker,
        teamMakerShadow: $darkTeamMakerShadow,
        roulette: $darkRoulette,
        rouletteShadow: $darkRouletteShadow,
        russianRoulette: $darkRussianRoulette,
        russianRouletteShadow: $darkRussianRouletteShadow,
    ),
);
