$themes: (
    light: (
        backgroundColor: $lightBackground,
        linkColor: $lightLink,
        linkFocus: $lightFocus,
        rollDice: $lightRollDice,
        rollDiceShadow: $lightRollDiceShadow,
        rollDiceCloseColor: $lightRollDiceCloseColor,
        rollDiceCloseBackground: $lightRollDiceCloseBackground,
        rollDiceBottom: $lightRollDiceBottom,
        rollDiceRight: $lightRollDiceRight,
        coinFlip: $lightCoinFlip,
        coinFlipShadow: $lightCoinFlipShadow,
        coinFlipCloseColor: $lightCoinFlipCloseColor,
        coinFlipCloseBackground: $lightCoinFlipCloseBackground,
        coinFlipBottom: $lightCoinFlipBottom,
        coinFlipRight: $lightCoinFlipRight,
        drawCard: $lightDrawCard,
        drawCardShadow: $lightDrawCardShadow,
        drawCardCloseColor: $lightCoinFlipCloseColor,
        drawCardCloseBackground: $lightCoinFlipCloseBackground,
        drawCardBottom: $lightDrawCardBottom,
        drawCardRight: $lightDrawCardRight,
        brackets: $lightBrackets,
        bracketsShadow: $lightBracketsShadow,
        bracketsCloseColor: $lightBracketsCloseColor,
        bracketsCloseBackground: $lightBracketsCloseBackground,
        bracketsBottom: $lightBracketsBottom,
        bracketsRight: $lightBracketsRight,
        teamMaker: $lightTeamMaker,
        teamMakerShadow: $lightTeamMakerShadow,
        teamMakerCloseColor: $lightTeamMakerCloseColor,
        teamMakerCloseBackground: $lightTeamMakerCloseBackground,
        teamMakerBottom: $lightTeamMakerBottom,
        teamMakerRight: $lightTeamMakerRight,
        roulette: $lightRoulette,
        rouletteShadow: $lightRouletteShadow,
        rouletteCloseColor: $lightRouletteCloseColor,
        rouletteCloseBackground: $lightRouletteCloseBackground,
        rouletteBottom: $lightRouletteBottom,
        rouletteRight: $lightRouletteRight,
        russianRoulette: $lightRussianRoulette,
        russianRouletteShadow: $lightRussianRouletteShadow,
        russianRouletteCloseColor: $lightRussianRouletteCloseColor,
        russianRouletteCloseBackground: $lightRussianRouletteCloseBackground,
        russianRouletteBottom: $lightRussianRouletteBottom,
        russianRouletteRight: $lightRussianRouletteRight,
    ),
    dark: (
        backgroundColor: $darkBackground,
        linkColor: $darkLink,
        linkFocus: $darkFocus,
        rollDice: $darkRollDice,
        rollDiceShadow: $darkRollDiceShadow,
        rollDiceCloseColor: $darkRollDiceCloseColor,
        rollDiceCloseBackground: $darkRollDiceCloseBackground,
        rollDiceBottom: $darkRollDiceBottom,
        rollDiceRight: $darkRollDiceRight,
        coinFlip: $darkCoinFlip,
        coinFlipShadow: $darkCoinFlipShadow,
        coinFlipCloseColor: $darkCoinFlipCloseColor,
        coinFlipCloseBackground: $darkCoinFlipCloseBackground,
        coinFlipBottom: $darkCoinFlipBottom,
        coinFlipRight: $darkCoinFlipRight,
        drawCard: $darkDrawCard,
        drawCardShadow: $darkDrawCardShadow,
        drawCardCloseColor: $darkDrawCardCloseColor,
        drawCardCloseBackground: $darkDrawCardCloseBackground,
        drawCardBottom: $darkDrawCardBottom,
        drawCardRight: $darkDrawCardRight,
        brackets: $darkBrackets,
        bracketsShadow: $darkBracketsShadow,
        bracketsCloseColor: $darkBracketsCloseColor,
        bracketsCloseBackground: $darkBracketsCloseBackground,
        bracketsBottom: $darkBracketsBottom,
        bracketsRight: $darkBracketsRight,
        teamMaker: $darkTeamMaker,
        teamMakerShadow: $darkTeamMakerShadow,
        teamMakerCloseColor: $darkTeamMakerCloseColor,
        teamMakerCloseBackground: $darkTeamMakerCloseBackground,
        teamMakerBottom: $darkTeamMakerBottom,
        teamMakerRight: $darkTeamMakerRight,
        roulette: $darkRoulette,
        rouletteShadow: $darkRouletteShadow,
        rouletteCloseColor: $darkRouletteCloseColor,
        rouletteCloseBackground: $darkRouletteCloseBackground,
        rouletteBottom: $darkRouletteBottom,
        rouletteRight: $darkRouletteRight,
        russianRoulette: $darkRussianRoulette,
        russianRouletteShadow: $darkRussianRouletteShadow,
        russianRouletteCloseColor: $darkRussianRouletteCloseColor,
        russianRouletteCloseBackground: $darkRussianRouletteCloseBackground,
        russianRouletteBottom: $darkRussianRouletteBottom,
        russianRouletteRight: $darkRussianRouletteRight,
    ),
);
