$themes: (
    light: (
        backgroundColor: $whiteBackground,
        linkColor: $linkLightColor,
    ),
    dark: (
        backgroundColor: $blackBackground,
        linkColor: $linkDarkColor,
    ),
);
