header {
    display: flex;
    justify-content: space-between;
}

.navLogo,
.navLinks {
    display: none;
}

.navRightHandSide {
    display: flex;
}

.langSelector {
    display: flex;
    flex-direction: row;
}

@media (min-width: 768px) {
    .navLinks {
        display: flex;
        a {
            @include themed {
                color: t('linkColor');
            }
        }
    }
    .navLogo {
        display: contents;
    }
}
