.games {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    .gameLink {
        display: flex;
        -ms-flex: auto;
        flex-basis: 100%;
        margin-bottom: 20px;
        text-decoration: none;
        width: 275px;
        @include md {
            flex-basis: 48%;
            margin-bottom: 50px;
        }
        @include lg {
            flex-basis: 30%;
        }
    }
}

$gamePreviewPadding: 25px;

.gamePreview {
    display: flex;
    position: relative;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    padding: $gamePreviewPadding;
    width: 100%;
    height: 165px - 2 * $gamePreviewPadding;
    .gameName {
        @extend %gameName;
        max-width: 145px;
        margin: 10px auto auto 0;
    }
}

.rollDice {
    @include themed {
        background-image: t(rollDice);
        box-shadow: t(rollDiceShadow);
        .gameIcon {
            position: absolute;
        }
    }
}

.coinFlip {
    @include themed {
        background-image: t(coinFlip);
        box-shadow: t(coinFlipShadow);
        .gameIcon {
            position: absolute;
        }
    }
}

.drawCard {
    @include themed {
        background-image: t(drawCard);
        box-shadow: t(drawCardShadow);
        .gameIcon {
            position: absolute;
        }
    }
}

.brackets {
    @include themed {
        background-image: t(brackets);
        box-shadow: t(bracketsShadow);
        .gameIcon {
            position: absolute;
        }
    }
}

.teamMaker {
    @include themed {
        background-image: t(teamMaker);
        box-shadow: t(teamMakerShadow);
        .gameIcon {
            position: absolute;
        }
    }
}

.roulette {
    @include themed {
        background-image: t(roulette);
        box-shadow: t(rouletteShadow);
        .gameIcon {
            position: absolute;
        }
    }
}

.russianRoulette {
    @include themed {
        background-image: t(russianRoulette);
        box-shadow: t(russianRouletteShadow);
        .gameIcon {
            position: absolute;
        }
    }
}
