.bm-burger-button {
    position: fixed;
    left: 36px;
    top: 36px;
}

.bm-menu {
    @include themed {
        background-color: t('backgroundColor');
    }
}

.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

.mobileMenu {
    .navLinks {
        display: flex;
        flex-direction: column;
    }
}
@media (min-width: 768px) {
    .mobileMenu {
        display: none;
    }
}
