html {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

body {
    overflow-x: hidden;
    position: relative;
    max-width: 930px;
    margin: 0 auto;
    padding: 0 50px;
    @include themed {
        background-color: t(backgroundColor);
    }
}
