@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap");
.rollDiceButtonContainer .rollDiceButton {
  font-size: 14px;
  line-height: 16px; }

@font-face {
  font-family: neutratext;
  font-display: swap;
  src: url("/../../fonts/neutratext.woff2") format("woff2"), url("/../../fonts/neutratext.woff") format("woff"), url("/../../fonts/neutratext.ttf") format("truetype"); }
@font-face {
  font-family: neutratext black;
  font-display: swap;
  src: url("/../../fonts/neutratext-black.woff2") format("woff2"), url("/../../fonts/neutratext-black.woff") format("woff"), url("/../../fonts/neutratext-black.ttf") format("truetype"); }
@font-face {
  font-family: neutratext bold;
  font-display: swap;
  src: url("/../../fonts/neutratext-bold.woff2") format("woff2"), url("/../../fonts/neutratext-bold.woff") format("woff"), url("/../../fonts/neutratext-bold.ttf") format("truetype"); }
@font-face {
  font-family: neutratext light;
  font-display: swap;
  src: url("/../../fonts/neutratext-light.woff2") format("woff2"), url("/../../fonts/neutratext-light.woff") format("woff"), url("/../../fonts/neutratext-light.ttf") format("truetype"); }
@font-face {
  font-family: neutratext thin;
  font-display: swap;
  src: url("/../../fonts/neutratext-thin.woff2") format("woff2"), url("/../../fonts/neutratext-thin.woff") format("woff"), url("/../../fonts/neutratext-thin.ttf") format("truetype"); }
@font-face {
  font-family: gillsans;
  font-display: swap;
  src: url("/../../fonts/gillsans.woff2") format("woff2"), url("/../../fonts/gillsans.woff") format("woff"), url("/../../fonts/gillsans.ttf") format("truetype"); }
@font-face {
  font-family: gillsans black;
  font-display: swap;
  src: url("/../../fonts/gillsans-black.woff2") format("woff2"), url("/../../fonts/gillsans-black.woff") format("woff"), url("/../../fonts/gillsans-black.ttf") format("truetype"); }
@font-face {
  font-family: gillsans bold;
  font-display: swap;
  src: url("/../../fonts/gillsans-bold.woff2") format("woff2"), url("/../../fonts/gillsans-bold.woff") format("woff"), url("/../../fonts/gillsans-bold.ttf") format("truetype"); }
@font-face {
  font-family: gillsans light;
  font-display: swap;
  src: url("/../../fonts/gillsans-light.woff2") format("woff2"), url("/../../fonts/gillsans-light.woff") format("woff"), url("/../../fonts/gillsans-light.ttf") format("truetype"); }
@font-face {
  font-family: gillsans thin;
  font-display: swap;
  src: url("/../../fonts/gillsans-thin.woff2") format("woff2"), url("/../../fonts/gillsans-thin.woff") format("woff"), url("/../../fonts/gillsans-thin.ttf") format("truetype"); }
.gamePreview .gameName, .rollDiceContents .gameName, .coinFlipContents .gameName, .drawCardContents .gameName, .bracketsContents .gameName, .teamMakerContents .gameName, .rouletteContents .gameName, .russianRouletteContents .gameName {
  font-size: 27px;
  color: #ffffff;
  font-family: NeutraText bold, Arial, Helvetica, sans-serif; }

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

html {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif; }

body {
  overflow-x: hidden;
  max-width: 930px;
  margin: 0 auto;
  padding: 0 20px; }
  @media (min-width: 375px) {
    body {
      padding: 0 50px; } }
  body.light-mode {
    background-color: #f8f8f8; }
  .light-mode body {
    background-color: #f8f8f8; }
  body.dark-mode {
    background-color: #1a1a33; }
  .dark-mode body {
    background-color: #1a1a33; }

.gameModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); }

.gameModal, .nonModal .gameContents {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: auto;
  outline: none;
  min-height: 200px;
  background: #ffffff;
  padding: 30px; }
  @media (min-width: 600px) {
    .gameModal, .nonModal .gameContents {
      left: 50%;
      top: 150px;
      border-radius: 8px;
      transform: translateX(-50%);
      width: 540px;
      max-width: 540px; } }
  .gameModal .closeButton, .nonModal .gameContents .closeButton {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 30px;
    right: 30px;
    box-shadow: 0 2px 16px 0 #e0e2e4; }

.nonModal .gameContents {
  position: unset;
  margin: 0 auto;
  transform: none;
  width: unset;
  border-radius: 8px; }

header {
  display: flex;
  align-items: center;
  flex-direction: column; }
  header.light-mode {
    color: #240c6d; }
  .light-mode header {
    color: #240c6d; }
  header.dark-mode {
    color: #ffffff; }
  .dark-mode header {
    color: #ffffff; }
  header .headerLogo {
    width: 191px;
    height: 101px;
    margin-bottom: 60px; }
    @media (min-width: 600px) {
      header .headerLogo {
        width: 238px;
        height: 126px;
        margin-bottom: 75px; } }

nav {
  width: 100%;
  display: flex;
  margin: 50px 0;
  align-items: center; }
  nav .navLHS {
    flex: 1;
    display: flex;
    justify-content: flex-start; }
  nav .navLogo {
    display: none; }
    @media (min-width: 600px) {
      nav .navLogo {
        flex: 1;
        width: 94px;
        height: 50px;
        display: flex;
        justify-content: center;
        visibility: hidden; } }
  nav .navRHS {
    flex: 1;
    display: flex;
    justify-content: flex-end; }
  nav .navIconButton:hover.light-mode {
    background-color: rgba(36, 12, 109, 0.2); }
  .light-mode nav .navIconButton:hover {
    background-color: rgba(36, 12, 109, 0.2); }
  nav .navIconButton:hover.dark-mode {
    background-color: rgba(255, 255, 255, 0.2); }
  .dark-mode nav .navIconButton:hover {
    background-color: rgba(255, 255, 255, 0.2); }

.navPopper .navTooltip.light-mode {
  color: #f8f8f8;
  background-color: #240c6d; }
.light-mode .navPopper .navTooltip {
  color: #f8f8f8;
  background-color: #240c6d; }
.navPopper .navTooltip.dark-mode {
  color: #1a1a33;
  background-color: #ffffff; }
.dark-mode .navPopper .navTooltip {
  color: #1a1a33;
  background-color: #ffffff; }

.gamePage header .headerLogo {
  display: none; }
@media (min-width: 600px) {
  .gamePage header .navLogo {
    visibility: visible; } }
.gamePage .openModal .headerLogo {
  display: flex; }
.gamePage .openModal .navLogo {
  visibility: hidden; }

.drawer {
  width: 300px; }
  .drawer.light-mode {
    color: #240c6d;
    background-color: #f8f8f8; }
  .light-mode .drawer {
    color: #240c6d;
    background-color: #f8f8f8; }
  .drawer.dark-mode {
    color: #ffffff;
    background-color: #1a1a33; }
  .dark-mode .drawer {
    color: #ffffff;
    background-color: #1a1a33; }
  .drawer .drawerContents {
    display: flex;
    padding: 50px;
    flex-direction: column; }
    .drawer .drawerContents .navLink {
      display: flex;
      color: inherit;
      font-size: 27px;
      line-height: 30px;
      margin-bottom: 50px;
      text-decoration: none;
      font-family: NeutraText bold, Arial, Helvetica, sans-serif; }
      .drawer .drawerContents .navLink svg {
        margin-right: 20px; }

.langSelectorOptions .langSelectorItem:hover,
.langSelectorOptions .langSelectorItem:focus {
  color: #240c6d;
  background-color: rgba(36, 12, 109, 0.2); }

.games {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }
  .games .gameLink {
    display: flex;
    -ms-flex: auto;
    flex-basis: 100%;
    margin-bottom: 20px;
    text-decoration: none;
    width: 275px; }
    @media (min-width: 600px) {
      .games .gameLink {
        flex-basis: 48%;
        margin-bottom: 50px; } }
    @media (min-width: 960px) {
      .games .gameLink {
        flex-basis: 30%; } }

.gamePreview {
  display: flex;
  position: relative;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  padding: 25px;
  width: 100%;
  height: 115px; }
  .gamePreview .gameName {
    max-width: 145px;
    margin: 10px auto auto 0; }

.rollDice.light-mode, .rollDicePage .light-mode.gameModal, .rollDicePage .nonModal .light-mode.gameContents, .nonModal .rollDicePage .light-mode.gameContents, .nonModal .light-mode.rollDiceContents {
  background-image: linear-gradient(134deg, #44dec5 0%, #4ebcfa 100%);
  box-shadow: 0 25px 40px -15px #4acae4; }
  .rollDice.light-mode .gameIcon, .rollDicePage .light-mode.gameModal .gameIcon, .rollDicePage .nonModal .light-mode.gameContents .gameIcon, .nonModal .rollDicePage .light-mode.gameContents .gameIcon, .nonModal .light-mode.rollDiceContents .gameIcon {
    position: absolute;
    bottom: 17px;
    right: 24px; }
.light-mode .rollDice, .light-mode .rollDicePage .gameModal, .rollDicePage .light-mode .gameModal, .light-mode .rollDicePage .nonModal .gameContents, .rollDicePage .nonModal .light-mode .gameContents, .light-mode .nonModal .rollDicePage .gameContents, .nonModal .rollDicePage .light-mode .gameContents, .light-mode .nonModal .rollDiceContents, .nonModal .light-mode .rollDiceContents {
  background-image: linear-gradient(134deg, #44dec5 0%, #4ebcfa 100%);
  box-shadow: 0 25px 40px -15px #4acae4; }
  .light-mode .rollDice .gameIcon, .light-mode .rollDicePage .gameModal .gameIcon, .rollDicePage .light-mode .gameModal .gameIcon, .light-mode .rollDicePage .nonModal .gameContents .gameIcon, .rollDicePage .nonModal .light-mode .gameContents .gameIcon, .light-mode .nonModal .rollDicePage .gameContents .gameIcon, .nonModal .rollDicePage .light-mode .gameContents .gameIcon, .light-mode .nonModal .rollDiceContents .gameIcon, .nonModal .light-mode .rollDiceContents .gameIcon {
    position: absolute;
    bottom: 17px;
    right: 24px; }
.rollDice.dark-mode, .rollDicePage .dark-mode.gameModal, .rollDicePage .nonModal .dark-mode.gameContents, .nonModal .rollDicePage .dark-mode.gameContents, .nonModal .dark-mode.rollDiceContents {
  background-image: linear-gradient(135deg, #031d22 0%, #00598b 100%);
  box-shadow: 0 25px 40px -15px #014263; }
  .rollDice.dark-mode .gameIcon, .rollDicePage .dark-mode.gameModal .gameIcon, .rollDicePage .nonModal .dark-mode.gameContents .gameIcon, .nonModal .rollDicePage .dark-mode.gameContents .gameIcon, .nonModal .dark-mode.rollDiceContents .gameIcon {
    position: absolute;
    bottom: 0px;
    right: 0px; }
.dark-mode .rollDice, .dark-mode .rollDicePage .gameModal, .rollDicePage .dark-mode .gameModal, .dark-mode .rollDicePage .nonModal .gameContents, .rollDicePage .nonModal .dark-mode .gameContents, .dark-mode .nonModal .rollDicePage .gameContents, .nonModal .rollDicePage .dark-mode .gameContents, .dark-mode .nonModal .rollDiceContents, .nonModal .dark-mode .rollDiceContents {
  background-image: linear-gradient(135deg, #031d22 0%, #00598b 100%);
  box-shadow: 0 25px 40px -15px #014263; }
  .dark-mode .rollDice .gameIcon, .dark-mode .rollDicePage .gameModal .gameIcon, .rollDicePage .dark-mode .gameModal .gameIcon, .dark-mode .rollDicePage .nonModal .gameContents .gameIcon, .rollDicePage .nonModal .dark-mode .gameContents .gameIcon, .dark-mode .nonModal .rollDicePage .gameContents .gameIcon, .nonModal .rollDicePage .dark-mode .gameContents .gameIcon, .dark-mode .nonModal .rollDiceContents .gameIcon, .nonModal .dark-mode .rollDiceContents .gameIcon {
    position: absolute;
    bottom: 0px;
    right: 0px; }

.coinFlip.light-mode, .coinFlipPage .light-mode.gameModal, .coinFlipPage .nonModal .light-mode.gameContents, .nonModal .coinFlipPage .light-mode.gameContents, .nonModal .light-mode.coinFlipContents {
  background-image: linear-gradient(135deg, #f9b4bd 0%, #9573db 100%);
  box-shadow: 0 25px 40px -15px #bb8ccf; }
  .coinFlip.light-mode .gameIcon, .coinFlipPage .light-mode.gameModal .gameIcon, .coinFlipPage .nonModal .light-mode.gameContents .gameIcon, .nonModal .coinFlipPage .light-mode.gameContents .gameIcon, .nonModal .light-mode.coinFlipContents .gameIcon {
    position: absolute;
    bottom: 39px;
    right: 37px; }
.light-mode .coinFlip, .light-mode .coinFlipPage .gameModal, .coinFlipPage .light-mode .gameModal, .light-mode .coinFlipPage .nonModal .gameContents, .coinFlipPage .nonModal .light-mode .gameContents, .light-mode .nonModal .coinFlipPage .gameContents, .nonModal .coinFlipPage .light-mode .gameContents, .light-mode .nonModal .coinFlipContents, .nonModal .light-mode .coinFlipContents {
  background-image: linear-gradient(135deg, #f9b4bd 0%, #9573db 100%);
  box-shadow: 0 25px 40px -15px #bb8ccf; }
  .light-mode .coinFlip .gameIcon, .light-mode .coinFlipPage .gameModal .gameIcon, .coinFlipPage .light-mode .gameModal .gameIcon, .light-mode .coinFlipPage .nonModal .gameContents .gameIcon, .coinFlipPage .nonModal .light-mode .gameContents .gameIcon, .light-mode .nonModal .coinFlipPage .gameContents .gameIcon, .nonModal .coinFlipPage .light-mode .gameContents .gameIcon, .light-mode .nonModal .coinFlipContents .gameIcon, .nonModal .light-mode .coinFlipContents .gameIcon {
    position: absolute;
    bottom: 39px;
    right: 37px; }
.coinFlip.dark-mode, .coinFlipPage .dark-mode.gameModal, .coinFlipPage .nonModal .dark-mode.gameContents, .nonModal .coinFlipPage .dark-mode.gameContents, .nonModal .dark-mode.coinFlipContents {
  background-image: linear-gradient(135deg, #413921 0%, #452e04 100%);
  box-shadow: 0 25px 40px -15px #443310; }
  .coinFlip.dark-mode .gameIcon, .coinFlipPage .dark-mode.gameModal .gameIcon, .coinFlipPage .nonModal .dark-mode.gameContents .gameIcon, .nonModal .coinFlipPage .dark-mode.gameContents .gameIcon, .nonModal .dark-mode.coinFlipContents .gameIcon {
    position: absolute;
    bottom: 14px;
    right: 12px; }
.dark-mode .coinFlip, .dark-mode .coinFlipPage .gameModal, .coinFlipPage .dark-mode .gameModal, .dark-mode .coinFlipPage .nonModal .gameContents, .coinFlipPage .nonModal .dark-mode .gameContents, .dark-mode .nonModal .coinFlipPage .gameContents, .nonModal .coinFlipPage .dark-mode .gameContents, .dark-mode .nonModal .coinFlipContents, .nonModal .dark-mode .coinFlipContents {
  background-image: linear-gradient(135deg, #413921 0%, #452e04 100%);
  box-shadow: 0 25px 40px -15px #443310; }
  .dark-mode .coinFlip .gameIcon, .dark-mode .coinFlipPage .gameModal .gameIcon, .coinFlipPage .dark-mode .gameModal .gameIcon, .dark-mode .coinFlipPage .nonModal .gameContents .gameIcon, .coinFlipPage .nonModal .dark-mode .gameContents .gameIcon, .dark-mode .nonModal .coinFlipPage .gameContents .gameIcon, .nonModal .coinFlipPage .dark-mode .gameContents .gameIcon, .dark-mode .nonModal .coinFlipContents .gameIcon, .nonModal .dark-mode .coinFlipContents .gameIcon {
    position: absolute;
    bottom: 14px;
    right: 12px; }

.drawCard.light-mode, .drawCardPage .light-mode.gameModal, .drawCardPage .nonModal .light-mode.gameContents, .nonModal .drawCardPage .light-mode.gameContents, .nonModal .light-mode.drawCardContents {
  background-image: linear-gradient(-49deg, #736dff 0%, #a97fff 100%);
  box-shadow: 0 25px 40px -15px #8573ff; }
  .drawCard.light-mode .gameIcon, .drawCardPage .light-mode.gameModal .gameIcon, .drawCardPage .nonModal .light-mode.gameContents .gameIcon, .nonModal .drawCardPage .light-mode.gameContents .gameIcon, .nonModal .light-mode.drawCardContents .gameIcon {
    position: absolute;
    bottom: 17px;
    right: 19px; }
.light-mode .drawCard, .light-mode .drawCardPage .gameModal, .drawCardPage .light-mode .gameModal, .light-mode .drawCardPage .nonModal .gameContents, .drawCardPage .nonModal .light-mode .gameContents, .light-mode .nonModal .drawCardPage .gameContents, .nonModal .drawCardPage .light-mode .gameContents, .light-mode .nonModal .drawCardContents, .nonModal .light-mode .drawCardContents {
  background-image: linear-gradient(-49deg, #736dff 0%, #a97fff 100%);
  box-shadow: 0 25px 40px -15px #8573ff; }
  .light-mode .drawCard .gameIcon, .light-mode .drawCardPage .gameModal .gameIcon, .drawCardPage .light-mode .gameModal .gameIcon, .light-mode .drawCardPage .nonModal .gameContents .gameIcon, .drawCardPage .nonModal .light-mode .gameContents .gameIcon, .light-mode .nonModal .drawCardPage .gameContents .gameIcon, .nonModal .drawCardPage .light-mode .gameContents .gameIcon, .light-mode .nonModal .drawCardContents .gameIcon, .nonModal .light-mode .drawCardContents .gameIcon {
    position: absolute;
    bottom: 17px;
    right: 19px; }
.drawCard.dark-mode, .drawCardPage .dark-mode.gameModal, .drawCardPage .nonModal .dark-mode.gameContents, .nonModal .drawCardPage .dark-mode.gameContents, .nonModal .dark-mode.drawCardContents {
  background-image: linear-gradient(135deg, #23122c 0%, #865e96 100%);
  box-shadow: 0 25px 40px -15px #5e3f6b; }
  .drawCard.dark-mode .gameIcon, .drawCardPage .dark-mode.gameModal .gameIcon, .drawCardPage .nonModal .dark-mode.gameContents .gameIcon, .nonModal .drawCardPage .dark-mode.gameContents .gameIcon, .nonModal .dark-mode.drawCardContents .gameIcon {
    position: absolute;
    bottom: 0px;
    right: 0px; }
.dark-mode .drawCard, .dark-mode .drawCardPage .gameModal, .drawCardPage .dark-mode .gameModal, .dark-mode .drawCardPage .nonModal .gameContents, .drawCardPage .nonModal .dark-mode .gameContents, .dark-mode .nonModal .drawCardPage .gameContents, .nonModal .drawCardPage .dark-mode .gameContents, .dark-mode .nonModal .drawCardContents, .nonModal .dark-mode .drawCardContents {
  background-image: linear-gradient(135deg, #23122c 0%, #865e96 100%);
  box-shadow: 0 25px 40px -15px #5e3f6b; }
  .dark-mode .drawCard .gameIcon, .dark-mode .drawCardPage .gameModal .gameIcon, .drawCardPage .dark-mode .gameModal .gameIcon, .dark-mode .drawCardPage .nonModal .gameContents .gameIcon, .drawCardPage .nonModal .dark-mode .gameContents .gameIcon, .dark-mode .nonModal .drawCardPage .gameContents .gameIcon, .nonModal .drawCardPage .dark-mode .gameContents .gameIcon, .dark-mode .nonModal .drawCardContents .gameIcon, .nonModal .dark-mode .drawCardContents .gameIcon {
    position: absolute;
    bottom: 0px;
    right: 0px; }

.brackets.light-mode, .bracketsPage .light-mode.gameModal, .bracketsPage .nonModal .light-mode.gameContents, .nonModal .bracketsPage .light-mode.gameContents, .nonModal .light-mode.bracketsContents {
  background-image: linear-gradient(134deg, #66e496 0%, #00c29c 100%);
  box-shadow: 0 25px 40px -15px #28cf99; }
  .brackets.light-mode .gameIcon, .bracketsPage .light-mode.gameModal .gameIcon, .bracketsPage .nonModal .light-mode.gameContents .gameIcon, .nonModal .bracketsPage .light-mode.gameContents .gameIcon, .nonModal .light-mode.bracketsContents .gameIcon {
    position: absolute;
    bottom: 43px;
    right: 51px; }
.light-mode .brackets, .light-mode .bracketsPage .gameModal, .bracketsPage .light-mode .gameModal, .light-mode .bracketsPage .nonModal .gameContents, .bracketsPage .nonModal .light-mode .gameContents, .light-mode .nonModal .bracketsPage .gameContents, .nonModal .bracketsPage .light-mode .gameContents, .light-mode .nonModal .bracketsContents, .nonModal .light-mode .bracketsContents {
  background-image: linear-gradient(134deg, #66e496 0%, #00c29c 100%);
  box-shadow: 0 25px 40px -15px #28cf99; }
  .light-mode .brackets .gameIcon, .light-mode .bracketsPage .gameModal .gameIcon, .bracketsPage .light-mode .gameModal .gameIcon, .light-mode .bracketsPage .nonModal .gameContents .gameIcon, .bracketsPage .nonModal .light-mode .gameContents .gameIcon, .light-mode .nonModal .bracketsPage .gameContents .gameIcon, .nonModal .bracketsPage .light-mode .gameContents .gameIcon, .light-mode .nonModal .bracketsContents .gameIcon, .nonModal .light-mode .bracketsContents .gameIcon {
    position: absolute;
    bottom: 43px;
    right: 51px; }
.brackets.dark-mode, .bracketsPage .dark-mode.gameModal, .bracketsPage .nonModal .dark-mode.gameContents, .nonModal .bracketsPage .dark-mode.gameContents, .nonModal .dark-mode.bracketsContents {
  background-image: linear-gradient(135deg, #0f4038 0%, #1e715f 100%);
  box-shadow: 0 25px 40px -15px #186051; }
  .brackets.dark-mode .gameIcon, .bracketsPage .dark-mode.gameModal .gameIcon, .bracketsPage .nonModal .dark-mode.gameContents .gameIcon, .nonModal .bracketsPage .dark-mode.gameContents .gameIcon, .nonModal .dark-mode.bracketsContents .gameIcon {
    position: absolute;
    bottom: 20px;
    right: 26px; }
.dark-mode .brackets, .dark-mode .bracketsPage .gameModal, .bracketsPage .dark-mode .gameModal, .dark-mode .bracketsPage .nonModal .gameContents, .bracketsPage .nonModal .dark-mode .gameContents, .dark-mode .nonModal .bracketsPage .gameContents, .nonModal .bracketsPage .dark-mode .gameContents, .dark-mode .nonModal .bracketsContents, .nonModal .dark-mode .bracketsContents {
  background-image: linear-gradient(135deg, #0f4038 0%, #1e715f 100%);
  box-shadow: 0 25px 40px -15px #186051; }
  .dark-mode .brackets .gameIcon, .dark-mode .bracketsPage .gameModal .gameIcon, .bracketsPage .dark-mode .gameModal .gameIcon, .dark-mode .bracketsPage .nonModal .gameContents .gameIcon, .bracketsPage .nonModal .dark-mode .gameContents .gameIcon, .dark-mode .nonModal .bracketsPage .gameContents .gameIcon, .nonModal .bracketsPage .dark-mode .gameContents .gameIcon, .dark-mode .nonModal .bracketsContents .gameIcon, .nonModal .dark-mode .bracketsContents .gameIcon {
    position: absolute;
    bottom: 20px;
    right: 26px; }

.teamMaker.light-mode, .teamMakerPage .light-mode.gameModal, .teamMakerPage .nonModal .light-mode.gameContents, .nonModal .teamMakerPage .light-mode.gameContents, .nonModal .light-mode.teamMakerContents {
  background-image: linear-gradient(134deg, #5f6dff 0%, #4ebcfa 100%);
  box-shadow: 0 25px 40px -15px #54a1fc; }
  .teamMaker.light-mode .gameIcon, .teamMakerPage .light-mode.gameModal .gameIcon, .teamMakerPage .nonModal .light-mode.gameContents .gameIcon, .nonModal .teamMakerPage .light-mode.gameContents .gameIcon, .nonModal .light-mode.teamMakerContents .gameIcon {
    position: absolute;
    bottom: 36px;
    right: 43px; }
.light-mode .teamMaker, .light-mode .teamMakerPage .gameModal, .teamMakerPage .light-mode .gameModal, .light-mode .teamMakerPage .nonModal .gameContents, .teamMakerPage .nonModal .light-mode .gameContents, .light-mode .nonModal .teamMakerPage .gameContents, .nonModal .teamMakerPage .light-mode .gameContents, .light-mode .nonModal .teamMakerContents, .nonModal .light-mode .teamMakerContents {
  background-image: linear-gradient(134deg, #5f6dff 0%, #4ebcfa 100%);
  box-shadow: 0 25px 40px -15px #54a1fc; }
  .light-mode .teamMaker .gameIcon, .light-mode .teamMakerPage .gameModal .gameIcon, .teamMakerPage .light-mode .gameModal .gameIcon, .light-mode .teamMakerPage .nonModal .gameContents .gameIcon, .teamMakerPage .nonModal .light-mode .gameContents .gameIcon, .light-mode .nonModal .teamMakerPage .gameContents .gameIcon, .nonModal .teamMakerPage .light-mode .gameContents .gameIcon, .light-mode .nonModal .teamMakerContents .gameIcon, .nonModal .light-mode .teamMakerContents .gameIcon {
    position: absolute;
    bottom: 36px;
    right: 43px; }
.teamMaker.dark-mode, .teamMakerPage .dark-mode.gameModal, .teamMakerPage .nonModal .dark-mode.gameContents, .nonModal .teamMakerPage .dark-mode.gameContents, .nonModal .dark-mode.teamMakerContents {
  background-image: linear-gradient(135deg, #131527 0%, #444fd2 100%);
  box-shadow: 0 25px 40px -15px #3740a7; }
  .teamMaker.dark-mode .gameIcon, .teamMakerPage .dark-mode.gameModal .gameIcon, .teamMakerPage .nonModal .dark-mode.gameContents .gameIcon, .nonModal .teamMakerPage .dark-mode.gameContents .gameIcon, .nonModal .dark-mode.teamMakerContents .gameIcon {
    position: absolute;
    bottom: 10px;
    right: 22px; }
.dark-mode .teamMaker, .dark-mode .teamMakerPage .gameModal, .teamMakerPage .dark-mode .gameModal, .dark-mode .teamMakerPage .nonModal .gameContents, .teamMakerPage .nonModal .dark-mode .gameContents, .dark-mode .nonModal .teamMakerPage .gameContents, .nonModal .teamMakerPage .dark-mode .gameContents, .dark-mode .nonModal .teamMakerContents, .nonModal .dark-mode .teamMakerContents {
  background-image: linear-gradient(135deg, #131527 0%, #444fd2 100%);
  box-shadow: 0 25px 40px -15px #3740a7; }
  .dark-mode .teamMaker .gameIcon, .dark-mode .teamMakerPage .gameModal .gameIcon, .teamMakerPage .dark-mode .gameModal .gameIcon, .dark-mode .teamMakerPage .nonModal .gameContents .gameIcon, .teamMakerPage .nonModal .dark-mode .gameContents .gameIcon, .dark-mode .nonModal .teamMakerPage .gameContents .gameIcon, .nonModal .teamMakerPage .dark-mode .gameContents .gameIcon, .dark-mode .nonModal .teamMakerContents .gameIcon, .nonModal .dark-mode .teamMakerContents .gameIcon {
    position: absolute;
    bottom: 10px;
    right: 22px; }

.roulette.light-mode, .roulettePage .light-mode.gameModal, .roulettePage .nonModal .light-mode.gameContents, .nonModal .roulettePage .light-mode.gameContents, .nonModal .light-mode.rouletteContents {
  background-image: linear-gradient(135deg, #ff8bf1 0%, #ff7171 100%);
  box-shadow: 0 25px 40px -15px #ff7ba2; }
  .roulette.light-mode .gameIcon, .roulettePage .light-mode.gameModal .gameIcon, .roulettePage .nonModal .light-mode.gameContents .gameIcon, .nonModal .roulettePage .light-mode.gameContents .gameIcon, .nonModal .light-mode.rouletteContents .gameIcon {
    position: absolute;
    bottom: 35px;
    right: 39px; }
.light-mode .roulette, .light-mode .roulettePage .gameModal, .roulettePage .light-mode .gameModal, .light-mode .roulettePage .nonModal .gameContents, .roulettePage .nonModal .light-mode .gameContents, .light-mode .nonModal .roulettePage .gameContents, .nonModal .roulettePage .light-mode .gameContents, .light-mode .nonModal .rouletteContents, .nonModal .light-mode .rouletteContents {
  background-image: linear-gradient(135deg, #ff8bf1 0%, #ff7171 100%);
  box-shadow: 0 25px 40px -15px #ff7ba2; }
  .light-mode .roulette .gameIcon, .light-mode .roulettePage .gameModal .gameIcon, .roulettePage .light-mode .gameModal .gameIcon, .light-mode .roulettePage .nonModal .gameContents .gameIcon, .roulettePage .nonModal .light-mode .gameContents .gameIcon, .light-mode .nonModal .roulettePage .gameContents .gameIcon, .nonModal .roulettePage .light-mode .gameContents .gameIcon, .light-mode .nonModal .rouletteContents .gameIcon, .nonModal .light-mode .rouletteContents .gameIcon {
    position: absolute;
    bottom: 35px;
    right: 39px; }
.roulette.dark-mode, .roulettePage .dark-mode.gameModal, .roulettePage .nonModal .dark-mode.gameContents, .nonModal .roulettePage .dark-mode.gameContents, .nonModal .dark-mode.rouletteContents {
  background-image: linear-gradient(135deg, #430e2d 0%, #ba4482 100%);
  box-shadow: 0 25px 40px -15px #8f3063; }
  .roulette.dark-mode .gameIcon, .roulettePage .dark-mode.gameModal .gameIcon, .roulettePage .nonModal .dark-mode.gameContents .gameIcon, .nonModal .roulettePage .dark-mode.gameContents .gameIcon, .nonModal .dark-mode.rouletteContents .gameIcon {
    position: absolute;
    bottom: 7px;
    right: 13px; }
.dark-mode .roulette, .dark-mode .roulettePage .gameModal, .roulettePage .dark-mode .gameModal, .dark-mode .roulettePage .nonModal .gameContents, .roulettePage .nonModal .dark-mode .gameContents, .dark-mode .nonModal .roulettePage .gameContents, .nonModal .roulettePage .dark-mode .gameContents, .dark-mode .nonModal .rouletteContents, .nonModal .dark-mode .rouletteContents {
  background-image: linear-gradient(135deg, #430e2d 0%, #ba4482 100%);
  box-shadow: 0 25px 40px -15px #8f3063; }
  .dark-mode .roulette .gameIcon, .dark-mode .roulettePage .gameModal .gameIcon, .roulettePage .dark-mode .gameModal .gameIcon, .dark-mode .roulettePage .nonModal .gameContents .gameIcon, .roulettePage .nonModal .dark-mode .gameContents .gameIcon, .dark-mode .nonModal .roulettePage .gameContents .gameIcon, .nonModal .roulettePage .dark-mode .gameContents .gameIcon, .dark-mode .nonModal .rouletteContents .gameIcon, .nonModal .dark-mode .rouletteContents .gameIcon {
    position: absolute;
    bottom: 7px;
    right: 13px; }

.russianRoulette.light-mode, .russianRoulettePage .light-mode.gameModal, .russianRoulettePage .nonModal .light-mode.gameContents, .nonModal .russianRoulettePage .light-mode.gameContents, .nonModal .light-mode.russianRouletteContents {
  background-image: linear-gradient(135deg, #f5d368 0%, #ff7c2d 100%);
  box-shadow: 0 25px 40px -15px #faa347; }
  .russianRoulette.light-mode .gameIcon, .russianRoulettePage .light-mode.gameModal .gameIcon, .russianRoulettePage .nonModal .light-mode.gameContents .gameIcon, .nonModal .russianRoulettePage .light-mode.gameContents .gameIcon, .nonModal .light-mode.russianRouletteContents .gameIcon {
    position: absolute;
    bottom: 35px;
    right: 39px; }
.light-mode .russianRoulette, .light-mode .russianRoulettePage .gameModal, .russianRoulettePage .light-mode .gameModal, .light-mode .russianRoulettePage .nonModal .gameContents, .russianRoulettePage .nonModal .light-mode .gameContents, .light-mode .nonModal .russianRoulettePage .gameContents, .nonModal .russianRoulettePage .light-mode .gameContents, .light-mode .nonModal .russianRouletteContents, .nonModal .light-mode .russianRouletteContents {
  background-image: linear-gradient(135deg, #f5d368 0%, #ff7c2d 100%);
  box-shadow: 0 25px 40px -15px #faa347; }
  .light-mode .russianRoulette .gameIcon, .light-mode .russianRoulettePage .gameModal .gameIcon, .russianRoulettePage .light-mode .gameModal .gameIcon, .light-mode .russianRoulettePage .nonModal .gameContents .gameIcon, .russianRoulettePage .nonModal .light-mode .gameContents .gameIcon, .light-mode .nonModal .russianRoulettePage .gameContents .gameIcon, .nonModal .russianRoulettePage .light-mode .gameContents .gameIcon, .light-mode .nonModal .russianRouletteContents .gameIcon, .nonModal .light-mode .russianRouletteContents .gameIcon {
    position: absolute;
    bottom: 35px;
    right: 39px; }
.russianRoulette.dark-mode, .russianRoulettePage .dark-mode.gameModal, .russianRoulettePage .nonModal .dark-mode.gameContents, .nonModal .russianRoulettePage .dark-mode.gameContents, .nonModal .dark-mode.russianRouletteContents {
  background-image: linear-gradient(135deg, #433831 0%, #ad6700 100%);
  box-shadow: 0 25px 40px -15px #8a5710; }
  .russianRoulette.dark-mode .gameIcon, .russianRoulettePage .dark-mode.gameModal .gameIcon, .russianRoulettePage .nonModal .dark-mode.gameContents .gameIcon, .nonModal .russianRoulettePage .dark-mode.gameContents .gameIcon, .nonModal .dark-mode.russianRouletteContents .gameIcon {
    position: absolute;
    bottom: 7px;
    right: 13px; }
.dark-mode .russianRoulette, .dark-mode .russianRoulettePage .gameModal, .russianRoulettePage .dark-mode .gameModal, .dark-mode .russianRoulettePage .nonModal .gameContents, .russianRoulettePage .nonModal .dark-mode .gameContents, .dark-mode .nonModal .russianRoulettePage .gameContents, .nonModal .russianRoulettePage .dark-mode .gameContents, .dark-mode .nonModal .russianRouletteContents, .nonModal .dark-mode .russianRouletteContents {
  background-image: linear-gradient(135deg, #433831 0%, #ad6700 100%);
  box-shadow: 0 25px 40px -15px #8a5710; }
  .dark-mode .russianRoulette .gameIcon, .dark-mode .russianRoulettePage .gameModal .gameIcon, .russianRoulettePage .dark-mode .gameModal .gameIcon, .dark-mode .russianRoulettePage .nonModal .gameContents .gameIcon, .russianRoulettePage .nonModal .dark-mode .gameContents .gameIcon, .dark-mode .nonModal .russianRoulettePage .gameContents .gameIcon, .nonModal .russianRoulettePage .dark-mode .gameContents .gameIcon, .dark-mode .nonModal .russianRouletteContents .gameIcon, .nonModal .dark-mode .russianRouletteContents .gameIcon {
    position: absolute;
    bottom: 7px;
    right: 13px; }

.comingSoonContainer {
  display: flex;
  align-items: center;
  flex-direction: column; }
  .comingSoonContainer.light-mode {
    color: #240c6d; }
  .light-mode .comingSoonContainer {
    color: #240c6d; }
  .comingSoonContainer.dark-mode {
    color: #ffffff; }
  .dark-mode .comingSoonContainer {
    color: #ffffff; }
  .comingSoonContainer .comingSoonIcon {
    margin-bottom: 40px; }
  .comingSoonContainer .comingSoon {
    font-size: 27px;
    font-family: NeutraText bold, Arial, Helvetica, sans-serif; }

.gamePage .comingSoonContainer {
  color: #ffffff; }

.gameModal .rollDiceContents .closeButton.light-mode, .nonModal .gameContents .rollDiceContents .closeButton.light-mode {
  color: #4acae4;
  background-color: #ffffff; }
.light-mode .gameModal .rollDiceContents .closeButton, .light-mode .nonModal .gameContents .rollDiceContents .closeButton, .nonModal .light-mode .gameContents .rollDiceContents .closeButton {
  color: #4acae4;
  background-color: #ffffff; }
.gameModal .rollDiceContents .closeButton.dark-mode, .nonModal .gameContents .rollDiceContents .closeButton.dark-mode {
  color: #ffffff;
  background-color: #014263; }
.dark-mode .gameModal .rollDiceContents .closeButton, .dark-mode .nonModal .gameContents .rollDiceContents .closeButton, .nonModal .dark-mode .gameContents .rollDiceContents .closeButton {
  color: #ffffff;
  background-color: #014263; }

.rollDiceContents .gameName {
  line-height: 50px; }

.gameModal .coinFlipContents .closeButton.light-mode, .nonModal .gameContents .coinFlipContents .closeButton.light-mode {
  color: #bb8ccf;
  background-color: #ffffff; }
.light-mode .gameModal .coinFlipContents .closeButton, .light-mode .nonModal .gameContents .coinFlipContents .closeButton, .nonModal .light-mode .gameContents .coinFlipContents .closeButton {
  color: #bb8ccf;
  background-color: #ffffff; }
.gameModal .coinFlipContents .closeButton.dark-mode, .nonModal .gameContents .coinFlipContents .closeButton.dark-mode {
  color: #ffffff;
  background-color: #443310; }
.dark-mode .gameModal .coinFlipContents .closeButton, .dark-mode .nonModal .gameContents .coinFlipContents .closeButton, .nonModal .dark-mode .gameContents .coinFlipContents .closeButton {
  color: #ffffff;
  background-color: #443310; }

.coinFlipContents .gameName {
  line-height: 50px; }

.gameModal .drawCardContents .closeButton.light-mode, .nonModal .gameContents .drawCardContents .closeButton.light-mode {
  color: #bb8ccf;
  background-color: #ffffff; }
.light-mode .gameModal .drawCardContents .closeButton, .light-mode .nonModal .gameContents .drawCardContents .closeButton, .nonModal .light-mode .gameContents .drawCardContents .closeButton {
  color: #bb8ccf;
  background-color: #ffffff; }
.gameModal .drawCardContents .closeButton.dark-mode, .nonModal .gameContents .drawCardContents .closeButton.dark-mode {
  color: #ffffff;
  background-color: #5e3f6b; }
.dark-mode .gameModal .drawCardContents .closeButton, .dark-mode .nonModal .gameContents .drawCardContents .closeButton, .nonModal .dark-mode .gameContents .drawCardContents .closeButton {
  color: #ffffff;
  background-color: #5e3f6b; }

.drawCardContents .gameName {
  line-height: 50px; }

.gameModal .bracketsContents .closeButton.light-mode, .nonModal .gameContents .bracketsContents .closeButton.light-mode {
  color: #28cf99;
  background-color: #ffffff; }
.light-mode .gameModal .bracketsContents .closeButton, .light-mode .nonModal .gameContents .bracketsContents .closeButton, .nonModal .light-mode .gameContents .bracketsContents .closeButton {
  color: #28cf99;
  background-color: #ffffff; }
.gameModal .bracketsContents .closeButton.dark-mode, .nonModal .gameContents .bracketsContents .closeButton.dark-mode {
  color: #ffffff;
  background-color: #186051; }
.dark-mode .gameModal .bracketsContents .closeButton, .dark-mode .nonModal .gameContents .bracketsContents .closeButton, .nonModal .dark-mode .gameContents .bracketsContents .closeButton {
  color: #ffffff;
  background-color: #186051; }

.bracketsContents .gameName {
  line-height: 50px; }

.gameModal .teamMakerContents .closeButton.light-mode, .nonModal .gameContents .teamMakerContents .closeButton.light-mode {
  color: #54a1fc;
  background-color: #ffffff; }
.light-mode .gameModal .teamMakerContents .closeButton, .light-mode .nonModal .gameContents .teamMakerContents .closeButton, .nonModal .light-mode .gameContents .teamMakerContents .closeButton {
  color: #54a1fc;
  background-color: #ffffff; }
.gameModal .teamMakerContents .closeButton.dark-mode, .nonModal .gameContents .teamMakerContents .closeButton.dark-mode {
  color: #ffffff;
  background-color: #3740a7; }
.dark-mode .gameModal .teamMakerContents .closeButton, .dark-mode .nonModal .gameContents .teamMakerContents .closeButton, .nonModal .dark-mode .gameContents .teamMakerContents .closeButton {
  color: #ffffff;
  background-color: #3740a7; }

.teamMakerContents .gameName {
  line-height: 50px; }

.gameModal .rouletteContents .closeButton.light-mode, .nonModal .gameContents .rouletteContents .closeButton.light-mode {
  color: #ff7ba2;
  background-color: #ffffff; }
.light-mode .gameModal .rouletteContents .closeButton, .light-mode .nonModal .gameContents .rouletteContents .closeButton, .nonModal .light-mode .gameContents .rouletteContents .closeButton {
  color: #ff7ba2;
  background-color: #ffffff; }
.gameModal .rouletteContents .closeButton.dark-mode, .nonModal .gameContents .rouletteContents .closeButton.dark-mode {
  color: #ffffff;
  background-color: #8f3063; }
.dark-mode .gameModal .rouletteContents .closeButton, .dark-mode .nonModal .gameContents .rouletteContents .closeButton, .nonModal .dark-mode .gameContents .rouletteContents .closeButton {
  color: #ffffff;
  background-color: #8f3063; }

.rouletteContents .gameName {
  line-height: 50px; }

.gameModal .russianRouletteContents .closeButton.light-mode, .nonModal .gameContents .russianRouletteContents .closeButton.light-mode {
  color: #faa347;
  background-color: #ffffff; }
.light-mode .gameModal .russianRouletteContents .closeButton, .light-mode .nonModal .gameContents .russianRouletteContents .closeButton, .nonModal .light-mode .gameContents .russianRouletteContents .closeButton {
  color: #faa347;
  background-color: #ffffff; }
.gameModal .russianRouletteContents .closeButton.dark-mode, .nonModal .gameContents .russianRouletteContents .closeButton.dark-mode {
  color: #ffffff;
  background-color: #8a5710; }
.dark-mode .gameModal .russianRouletteContents .closeButton, .dark-mode .nonModal .gameContents .russianRouletteContents .closeButton, .nonModal .dark-mode .gameContents .russianRouletteContents .closeButton {
  color: #ffffff;
  background-color: #8a5710; }

.russianRouletteContents .gameName {
  line-height: 50px; }

.aboutGameNight, .aboutDeveloper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 70px; }
  @media (min-width: 600px) {
    .aboutGameNight, .aboutDeveloper {
      flex-direction: row;
      margin-bottom: 50px; } }

.aboutGameNight .aboutDescriptionInfo, .aboutDeveloper .aboutDeveloperInfo {
  font-family: GillSans, Arial, Helvetica, sans-serif;
  font-size: 24px; }
  .aboutGameNight .light-mode.aboutDescriptionInfo, .aboutDeveloper .light-mode.aboutDeveloperInfo {
    color: #04143a; }
  .light-mode .aboutGameNight .aboutDescriptionInfo, .aboutGameNight .light-mode .aboutDescriptionInfo, .light-mode .aboutDeveloper .aboutDeveloperInfo, .aboutDeveloper .light-mode .aboutDeveloperInfo {
    color: #04143a; }
  .aboutGameNight .dark-mode.aboutDescriptionInfo, .aboutDeveloper .dark-mode.aboutDeveloperInfo {
    color: #ffffff; }
  .dark-mode .aboutGameNight .aboutDescriptionInfo, .aboutGameNight .dark-mode .aboutDescriptionInfo, .dark-mode .aboutDeveloper .aboutDeveloperInfo, .aboutDeveloper .dark-mode .aboutDeveloperInfo {
    color: #ffffff; }

@media (min-width: 600px) {
  .aboutGameNight {
    flex-direction: row-reverse; } }
.aboutGameNight .fluidImageWrapper {
  width: 100%;
  max-width: 438px;
  margin: 0 0 25px 0; }
  @media (min-width: 600px) {
    .aboutGameNight .fluidImageWrapper {
      margin: 0 0 0 35px; } }
.aboutGameNight .aboutDescriptionInfo {
  margin: 0;
  max-width: 436px; }

.aboutDeveloper .fluidImageWrapper {
  width: 100%;
  min-width: 175px;
  max-width: 233px;
  margin: 0 0 25px 0; }
  @media (min-width: 600px) {
    .aboutDeveloper .fluidImageWrapper {
      margin: 0 45px 0 0; } }
.aboutDeveloper .profilePicture {
  border-radius: 100%;
  border: 5px solid #ffffff;
  box-shadow: 3px 6px 10px 0 #6b828f; }
.aboutDeveloper .aboutDeveloperInfo {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 638px; }
  .aboutDeveloper .aboutDeveloperInfo .aboutDeveloperTitle {
    font-size: 32px;
    margin-bottom: 20px; }
    .aboutDeveloper .aboutDeveloperInfo .aboutDeveloperTitle.light-mode {
      color: #6d6d6d; }
    .light-mode .aboutDeveloper .aboutDeveloperInfo .aboutDeveloperTitle {
      color: #6d6d6d; }
    .aboutDeveloper .aboutDeveloperInfo .aboutDeveloperTitle.dark-mode {
      color: #b4b4b4; }
    .dark-mode .aboutDeveloper .aboutDeveloperInfo .aboutDeveloperTitle {
      color: #b4b4b4; }
  .aboutDeveloper .aboutDeveloperInfo .aboutDeveloperText {
    margin: 0 0 20px 0; }
  .aboutDeveloper .aboutDeveloperInfo .aboutLinks {
    display: flex;
    flex-direction: column; }
    @media (min-width: 600px) {
      .aboutDeveloper .aboutDeveloperInfo .aboutLinks {
        flex-wrap: wrap;
        flex-direction: row; } }
    .aboutDeveloper .aboutDeveloperInfo .aboutLinks .socialMediaLink {
      display: flex;
      opacity: 0.5;
      font-size: 18px;
      cursor: pointer;
      text-decoration: none;
      margin: 0 0 20px 0; }
      .aboutDeveloper .aboutDeveloperInfo .aboutLinks .socialMediaLink:last-of-type {
        align-items: center; }
      .aboutDeveloper .aboutDeveloperInfo .aboutLinks .socialMediaLink.light-mode {
        color: #04143a; }
      .light-mode .aboutDeveloper .aboutDeveloperInfo .aboutLinks .socialMediaLink {
        color: #04143a; }
      .aboutDeveloper .aboutDeveloperInfo .aboutLinks .socialMediaLink.dark-mode {
        color: #ffffff; }
      .dark-mode .aboutDeveloper .aboutDeveloperInfo .aboutLinks .socialMediaLink {
        color: #ffffff; }
      @media (min-width: 600px) {
        .aboutDeveloper .aboutDeveloperInfo .aboutLinks .socialMediaLink {
          margin: 0 45px 20px 0; } }
      .aboutDeveloper .aboutDeveloperInfo .aboutLinks .socialMediaLink svg {
        margin-right: 10px; }

.diceContainer {
  display: flex;
  margin: 50px 0;
  justify-content: space-evenly; }
  .diceContainer.twoDices svg {
    flex-basis: 45%; }

.rollDiceButtonContainer {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-evenly; }
  .rollDiceButtonContainer .rollDiceButton {
    flex-basis: 45%;
    height: 45px;
    max-width: 150px;
    border-radius: 10px;
    font-weight: 500;
    text-transform: capitalize;
    box-shadow: 0 1px 10px 0 #e0e2e4; }
    .rollDiceButtonContainer .rollDiceButton.light-mode {
      color: #4acae4;
      background: #ffffff; }
    .light-mode .rollDiceButtonContainer .rollDiceButton {
      color: #4acae4;
      background: #ffffff; }
    .rollDiceButtonContainer .rollDiceButton.dark-mode {
      color: #ffffff;
      background: #014263; }
    .dark-mode .rollDiceButtonContainer .rollDiceButton {
      color: #ffffff;
      background: #014263; }

/*# sourceMappingURL=index.css.map */
